@font-face {
  font-family: "Lexend";
  font-weight: 300;
  font-style: normal;
  src: local("Lexend-Light"), local("Lexend-Light"),
    url("../fonts/Lexend/Lexend-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lexend";
  font-weight: 500;
  font-style: normal;
  src: local("Lexend-Medium"), local("Lexend-Medium"),
    url("../fonts/Lexend/Lexend-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Lexend";
  font-weight: 600;
  font-style: normal;
  src: local("Lexend-SemiBold"), local("Lexend-SemiBold"),
    url("../fonts/Lexend/Lexend-SemiBold.ttf") format("truetype");
}
